/* Link classes */
.multicolor, .red {
  border-radius: 4px;
}

.multicolor {
  animation: blink-animation .5s infinite alternate;
}

.red, .red[data-tooltip]:before {
  box-shadow:0px 0px 0px 2px #FF3232 inset;
}

.multicolor, .multicolor[data-tooltip]:before {
  animation: blink-animation .5s infinite alternate;
}

 /* Tooltip basics */ 
[data-tooltip] {
  position: relative;
  z-index: 100;
}

/* Position tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100%); 
  pointer-events: none;
  transition: 0.1s;
  will-change: transform;
}

/* Tooltip content */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  border-radius: 4px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  background-color: #3C4650;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  transform: translate(-50%) scale(0.5);
}

/* Change tooltip visibility when hover */
.hover[data-tooltip]:hover:before,
.hover[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Tooltip grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.1s;
  transform: translate(-50%, -5px) scale(1);
}

/* Header tooltip position */
[data-tooltip-position="bottom"]:before,
[data-tooltip-position="bottom"]:after {
  top: calc(100%);
  bottom: auto;
}

/* Outline tooltip and link animation */
@keyframes blink-animation {
  0% {
    box-shadow:0px 0px 0px 2px #e219be inset;
  }
  20% {
    box-shadow:0px 0px 0px 2px #ff0089 inset;
  }
  40% {
    box-shadow:0px 0px 0px 2px #ff534f inset;
  }
  60% {
    box-shadow:0px 0px 0px 2px #ff9600 inset;
  }
  80% {
    box-shadow:0px 0px 0px 2px #fccf00 inset;
  }
  100% {
    box-shadow:0px 0px 0px 2px #baff00 inset;
  }
}
